
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Main</title>
    <link href="~/MiniUi/scripts/js/miniui/themes/default/miniui.css" rel="stylesheet" />
    <link href="~/MiniUi/scripts/js/miniui/themes/icons.css" rel="stylesheet" />
    <script src="~/MiniUi/scripts/js/jquery-1.6.2.min.js"></script>
    <script src="~/MiniUi/scripts/js/miniui/miniui.js"></script>

    <style type="text/css">
        html, html body {
            padding: 0;
            border: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            font-family: Verdana;
            font-size: 12px;
            line-height: 22px;
        }

        .header {
            background: url(http://vmi.syney.net:6060/SourceFiles/Images/Core/header.gif) repeat-x 0 -1px;
        }

        body .header .topNav {
            position: absolute;
            right: 8px;
            top: 5px;
            font-size: 12px;
            line-height: 25px;
        }

        .header .topNav a {
            text-decoration: none;
            color: #222;
            font-weight: normal;
            font-size: 12px;
            line-height: 25px;
            margin-left: 3px;
            margin-right: 3px;
        }

            .header .topNav a:hover {
                text-decoration: underline;
                color: Blue;
            }
    </style>
</head>
<body>
    <!--Layout-->
    <div id="layout1" class="mini-layout" style="width: 100%; height: 100%;">
        <div class="header" region="north" height="70" showsplit="false" showheader="false">
            <div id="logo">
                <img src="http://vmi.syney.net:6060/SourceFiles/Images/Logo/logo_short_red.png" style="margin-left: 10px;" />
            </div>
            <div class="topNav">
                <a class="mini-button" iconcls="icon-edit" onclick="onClick" plain="true">修改密码</a>|<a class="mini-button " iconcls="icon-logout" onclick="onClick" plain="true">注销</a>
            </div>
            <div style="position: absolute; right: 12px; bottom: 0px; font-size: 12px; line-height: 25px;">
                欢迎您：<span id="username"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span id="date"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span id="week"></span>
            </div>
        </div>
        <div title="south" region="south" showsplit="false" showheader="false" height="30">
            <div style="line-height: 28px; text-align: center; cursor: default">
                企业信息化软件系列 Copyright © 2014-<span id="year"></span> 西尼电梯（杭州）有限公司
            </div>
        </div>
        <div title="center" region="center" bodystyle="overflow:hidden;">
            <!--Splitter-->
            <div class="mini-splitter" style="width: 100%; height: 100%;" borderstyle="border:0;">
                <div size="180" maxsize="250" minsize="180" showcollapsebutton="true">
                    <!--Tree-->
                    <div id="leftTree" class="mini-outlooktree" url="Main.aspx?method=BindTree" onnodeclick="onNodeClick"
                         textfield="text" idfield="id" parentfield="pid" iconfield="icon">
                    </div>
                </div>
                <div showcollapsebutton="false">
                    <!--Tabs-->
                    <div id="mainTabs" class="mini-tabs bg-toolbar" activeindex="0" style="width: 100%;
                        height: 100%;" bodystyle="border:0;background:white;" contextmenu="#tabsMenu">
                        <div title="首页" name="home" url="/Home/Main" iconcls="icon-home">
                        </div>
                    </div>
                    <ul id="tabsMenu" class="mini-contextmenu" onbeforeopen="onBeforeOpen">
                        <li onclick="closeTab" iconcls="icon-close">关闭标签页</li>
                        <li onclick="closeAll" iconcls="icon-close">关闭所有标签页</li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 
    <script type="text/javascript">
        //mini.parse();
    </script>
</body>
</html>
